// WMI Soap Styles

// Vars ----------------------------
// Color
$WMIgold: #e79423;
$WMI_DK_gold: darken($WMIgold, 10%);
$WMIblue: #244b6f;
$WMI_DK_blue: darken($WMIblue, 10%);
$WMI_LT_blue: lighten($WMIblue, 35%);
$WMI_Really_LT_blue: lighten($WMIblue, 55%);
$WMIred: #8a171a;
$WMI_DK_red: darken($WMIred, 10%);
$WMIwhite: #FFF;
$WMI_DK_white: darken($WMIwhite, 5%);
$WMIgrey: #555555;
$WMI_DK_grey: darken($WMIgrey, 10%);

//Fonts


// Mixins --------------------------
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


// Main Styles ---------------------
//html
html {
width: 100%;
height: 100%;
  background-color: $WMIwhite;
  background-image: url('../images/WMI_APP_BCKRD_Crushed.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
  color: $WMIgrey;
  }
// Body

  
// Headings
h1, h2, h3, h4, h5 {
	color: $WMIgrey;
}

// Links  
a {
	color: $WMIblue;
	text-decoration: underline;
		&:hover{
			color: $WMI_DK_blue;
			cursor: pointer;
		}
}
 
// Buttons. Overrides ionic button-light
.button {
	&.button-light, &.button-calm {
		
		color: $WMIwhite;
		border:none;
		@include border-radius(5px);
			&:hover{
				color: $WMIwhite;
				border:none;
			}
		}
		&.button-light {
		background-color: $WMIgold;
			&:hover{
				background-color: $WMI_DK_gold;
			}
		}
		&.button-calm {
		background-color: $WMI_LT_blue;
			&:hover{
				background-color: $WMIblue;
			}
		}
}

// Nav Bar for sub pages
.bar {
	&.bar-stable{
		background-color: $WMIgold;
		background-image: none;
		.title {
			font-weight: bold;
		}
		
		.button {
			background: none;
			border-color: $WMI_DK_gold;
			&:hover{
				background-color: $WMI_DK_gold;
			}
		}
	}
}


.tabs {
  background-image: none;
  background-color: $WMI_DK_white;
	
	a:hover {
		color: $WMIred;
	}
	
	/* Active state for tab */
	.tab-item.tab-item-active,
	.tab-item.active,
	.tab-item.activated {
	  opacity: 1;
	  color: $WMIred;
	  }

}
.card {
.item-divider{
	background-color: $WMIblue;
	border-color: $WMIblue;
	color: $WMIwhite;
	font-weight: normal;
}
}

// Logos

.CenteredLogo {
	width:150px;
	height:150px;
	margin-left: auto;
	margin-right: auto;
	background-color: $WMI_DK_white;
	text-align: center;
}
.WMIlogo {
	margin-top: 20px;
}

.NOLSlogo {
	
}

// First Responder Page (home after splash) -------------------------


// reset for 100% height on FR page
.scroll-content > .scroll {
  height: 100%;
}
.scroll-content > .scroll > .FirstResponder {
  height: 100%;
}

//wrapper
.FirstResponder {
	padding: 20px;
	// placeholder for bckrd img
	color: $WMIwhite;
	a {
		color: $WMI_LT_blue;
	}
	h1, h5 {
		text-align: center;
		color: $WMIwhite;
	}
	
	h1 {
		text-transform: uppercase;
	}

	// Overide lists div for FR page
	.list-inset{
		background:none;
		.item-input {
			margin-top: 10px;
			border:none;
			@include border-radius(5px);
		}
	}
	
}

// SOAP Pages -----------------------------------------------------

// Hide textarea resize
textarea {
resize:none;
}

// Soap Specific
.SOAP {
	h5 {
		margin: 0px;
		font-weight: bold;
		background-color: $WMIblue;
		color: $WMIwhite;
		padding:15px;
		text-transform: uppercase;
		a {
			float:right;
			display: block;
			text-transform: none;
			width:20px;
			height:20px;
			text-align: center;
			text-decoration: none;
			color: $WMIgold;
			background-color: $WMIwhite;
			@include border-radius(50%);
			border: 1px solid $WMIgold;
			&:hover {
				background-color: $WMI_DK_white;
			}
			
		}
	}
}