// WMI Soap Styles

// Vars ----------------------------
// Color
$WMIgold: #e79423;
$WMI_DK_gold: darken($WMIgold, 10%);
$WMIblue: #244b6f;
$WMI_DK_blue: darken($WMIblue, 10%);
$WMI_LT_blue: lighten($WMIblue, 35%);
$WMI_Really_LT_blue: lighten($WMIblue, 55%);
$WMIred: #8B0000;
$WMI_DK_red: darken($WMIred, 10%);
$WMIwhite: #FFF;
$WMI_DK_white: darken($WMIwhite, 5%);
$WMIgrey: #CCCCCC;
$WMI_LT_grey: #EFEFEF;
$WMI_DK_grey: darken($WMIgrey, 10%);
$WMIblack: #111;
$WMIshadow: rgba(0,0,0,.5);

$base-background-color: $WMIwhite;
pre { font-family: inherit; }
.SOAP .item-text-wrap {
	white-space: pre-wrap;//was pre
}
//temp image
#smallImage, #largeImage {
display:none;
max-width: 48%;
height:auto !important;
margin-left:auto;
margin-right:auto;
margin-top: 10px;
}

#smallImageText, #largeImageText {
display:none;
max-width: 48%;
margin-left:auto;
margin-right:auto;
border:1px solid #ccc;

}

::-webkit-input-placeholder {
	color:#ddd !important;
	font-style: italic;
}

.strong-input {
	padding:0 !important;
}
.strong {
	font-weight:bold !important;
	width:0;
}


.WMIsideMenu {
			margin-top: 40px;
		}

//Fonts
// Reset placeholder text
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: $WMIblack;
}

input[disabled] {
	background-color: $WMIwhite;
	-webkit-text-fill-color:black;
	opacity:1 !important;
}

// adjust styles for patient initials. smooth out touppercase.js
.initials {
	::-webkit-input-placeholder {
	text-transform: none;
}
input {
	text-transform: uppercase;
}
}

// Mixins --------------------------
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.boxShadow {
	box-shadow: 0 0 10px $WMIshadow;
}

// Main Styles ---------------------
//html
html {
width: 100%;
height: 100%;

  }
// Body


// Headings
h1, h2, h3, h4, h5, h6 {
	color: $WMIwhite;


}

h1 {
	text-transform: capitalize;
}
h5 {
	font-size: 17px;
	line-height: 17px;
	padding: 10px;
	background-color: $WMI_DK_grey;
	margin: 0;


}
h6 {
	padding: 10px;
	font-size: 16px;
	margin: 0;
	color: $WMIred;
	background-color: $WMI_LT_grey;

}

h7 {
	padding: 3px;
	padding-left: 10px;
	font-size: 12px;
	margin: 0;
	color: $WMIwhite;
	background-color: $WMIgrey;

	display: block;
}

// Links
a {
	color: $WMIblue;
	text-decoration: underline;
		&:hover{
			color: $WMI_DK_blue;
			cursor: pointer;
		}
		icon {
			margin-right: 10px;
		}
}

// Buttons. Overrides ionic button-light
.button {
	min-height: 30px;
	&.button-light, &.button-calm {
		font-size: 18px;
		color: $WMIwhite;
		text-transform: capitalize;
		border:none;

		@include border-radius(4px);
			&:hover{
				color: $WMIwhite;
				border:none;
			}
		}
		&.button-light {
		background-color: $WMIblue;
			&:hover, &:active, &:focus{
				background-color: $WMI_DK_blue;
			}
		}
		&.button-calm {
		background-color: $WMIgrey;
		color: $WMIblack;
			&:hover, &:active, &:focus{
				background-color: $WMI_DK_grey;
				color: $WMIblack;
			}
		}
		&.lowercase {
			text-transform: none;
		}

}

// Nav Bar for sub pages
.bar {
	&.bar-stable{
		background-color: $WMIwhite;
		color: $WMIblack;
		background-image: none;
		@extend .boxShadow;

		.title {
				color: $WMIred;
				font-weight: normal;
			}
		.button {
			background: none;
			color: $WMIblue;
			border: none;
			&:hover{

			}


		}
	}
}


.tabs {
  background-image: none;
  background-color: $WMIwhite;
  text-transform: uppercase;
  @extend .boxShadow;
  .tab-title {
  font-size: 10px;
  }
	a:hover {
		color: $WMIred;
	}

	/* Active state for tab */
	.tab-item.tab-item-active,
	.tab-item.active,
	.tab-item.activated {
	  opacity: 1;
	  color: $WMIred;
	  }

}

.item {
	font-size: 14px;
}
.card {
.item-divider{
	background-color: $WMI_LT_grey;
	border-color: $WMI_LT_grey;
	color: $WMIred;
	font-weight: normal;
}
}

.WMImodalWrapper {
	margin-top: 20px;
	//margin-bottom: 40px;

}

.modal {
background-color: $WMI_DK_grey;
padding-bottom: 20px;
	.scroll-content {

	}
}

.modal ion-content{
	padding-top: 50px;
	padding-bottom: 20px;
	.last {
		margin-bottom: 10px;
	}
	ul {
	margin-left: 20px;
	li {
		list-style-type: disc;
	}
	}
	.modalSpacer{
		height:1px;
		clear: both;
	}
}
// Logos

.CenteredLogo {
	margin-left: auto;
	margin-right: auto;

}
.WMIlogo {
width:200px;
}

.NOLSlogo {
width:100px;
margin-bottom: 20px;
}


.item-select {

select {

 &.ng-dirty {
  }

}
	.input-label {
		height:0px;
		display:block;
	}
}


// Delete Icon
.item-delete .button.icon {
	color: $WMIred
}

.margin {
	margin-left: 10px;
	margin-right: 10px;
	&.last {
		margin-bottom: 10px;
	}
}

.col-label {
	font-weight: bold;
}
	.item-select {
		height:47px;
	}

.col, .row {
	padding: 0;


}

textarea {
	//height:80px;
	resize:none;
	overflow: auto;
}

.item-select {

select {

	background-color: $WMIwhite;
	width: 100%;
	max-width: 100%;
	text-align: left;
	direction: ltr;
	padding-left: 10px;
}
}

.list {
	margin-bottom: 0;
	background-color: $WMIwhite;
}

.input-label {
	font-weight: normal;
}
.backgroundImage {
	 background-image: url('../images/WMI_APP_BCKRD_Crushed.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;

}
.menu {
	background-color:rgba(255, 255, 255, 0.4);
	padding-top: 40px;
}

// First Responder Page (home after splash) -------------------------


// reset for 100% height on FR page
.scroll-content > .scroll {
  height: 100%;
}
.scroll-content > .scroll > .FirstResponder {
}

//wrapper
.FirstResponder {
padding-top: 10px;
padding-bottom: 10px;
	color: $WMIwhite;
	p {
		text-align: center;
		margin-top: 10px;
	}
	a {
		color: $WMI_LT_blue;
	}
	h1, h5 {
		text-align: center;
		color: $WMIwhite;

	}

	h1 {
		text-transform: uppercase;
		font-weight: 300;
		margin-top: 0px;
	}

	// Overide lists div for FR page
	.list-inset {
		background:none;
		@include border-radius(2px);
		.item-input {

			border:none;

		}
	}
	button {
		margin-bottom: 10px;
	}


}

// SOAP Pages -----------------------------------------------------

// Soap Specific
.SOAP {
padding-bottom: 10px;
background-color: $WMIwhite;
min-height: 100%;
overflow: auto;
	.responsive-sm{
		.col {
			padding-top:30%;
			text-align:center;
			text-transform:uppercase;
			font-weight:bold;
			color:rgba(0,0,0,0.1);
		}
	}

	h2, h3 {
		margin: 0px;
		font-weight: bold;
		background-color: $WMIblue;
		color: $WMIwhite;
		padding:15px;
		text-transform: uppercase;

		}
	}

	h2 {
		background-color: $WMI_LT_blue;
		text-align: center;
		font-size: 18px;
	}

	h3 {
		background-color: $WMI_Really_LT_blue;
		color: $WMI_DK_blue;
		text-align: center;
		font-size: 14px;
	}


	h4, h5, h6 {
		font-weight: 400;
		a {
		margin: 0;

		span {
		display: inline-block;

			text-transform: none;
			width: 20px;
			height:20px;
			line-height: 20px;
			text-align: center;
			vertical-align: middle;
			@include border-radius(50%);
			background-color: $WMIwhite;
			border: 1px solid $WMIred;
		}
			font-size: 16px;
			color: $WMIred;
			font-family: serif;
			padding-left:10px;
			padding-right: 10px;
			text-decoration: none;
			float: right;


			&:hover {

			}

	}
}

// vitals
	.VitalsTable {
	width: 100%;
	text-align: center;
	border: 1px solid $WMI_LT_grey;
	th, td {
		width:25%;
		padding:5px;
		border: 1px solid $WMI_LT_grey;
	}
		th {
		text-align: right;
		padding-right: 10px;
			background-color: $WMI_LT_grey;
			text-transform: uppercase;
		}
	}
.VITALS {
padding-bottom: 50px;


}
.vital {
  position:fixed;
  bottom:49px;
  background:$WMI_DK_white;
  width:100%;
  z-index:10;
  display:inline-table;
  margin: 0;
  padding: 0;
  h1 {
	  color: $WMIgrey;
  }
  .vital-left {
	  text-align: right;
	  padding-right: 10px;
  }
  .row, h1 {
	  margin: 0px;
	  padding: 0px;
  }

  .button-small {
	  margin-top:7px;
  }
}

.AboutWMI {
	padding-bottom: 10px;
}

//popup
.popup-head{
	height:0 !important;
}
.popup-title{
	color:#fff !important;
}
.popup {
	.popup-buttons {
		.button-delete {
			background-color: #244b6f !important;
		}
		.button-soaps {
			background-color: #efefef !important;
		}
	}
}

// Custom Icon Fonts
.ion-app-assessment-plan:before,.ion-app-help:before,.ion-app-objective:before,.ion-app-overview:before,.ion-app-photos:before,.ion-app-share:before,.ion-app-subjective:before{display:inline-block;font-family:Ionicons;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;text-rendering:auto;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.ion-app-assessment-plan:before{content:"\f360"}.ion-app-help:before{content:"\f361"}.ion-app-objective:before{content:"\f362"}.ion-app-overview:before{content:"\f363"}.ion-app-photos:before{content:"\f364"}.ion-app-share:before{content:"\f365"}.ion-app-subjective:before{content:"\f366"}.ion-archive:before{content:"\f102"}



.card-image {
	float:left;
	width:100%;
	.card-image-left{
		float:left;
		width:43%;
		.item {
			font-size:30px;
			padding:0;
		}
		.item-avatar {
			padding-left:0;
			padding-right: 3px;
			min-height:0;
			text-align: right;
			i {
				color:$WMI_DK_red;


			}
		}
		img{
			height:100%;
			width:100%;
		}
	}
}

.turnOn {
background-color:$WMIblue !important;
color: #FFF !important;
}

.popup {
	background: $WMIwhite !important;
}
.popup-title {
	background: $WMIwhite !important;
	padding-bottom: 10px;
	color:$WMI_DK_red !important;
}
small.error {
	background-color:$WMIred;
	color: $WMIwhite;
	padding: 4px;
	font-size:1em;
	display:block;
	width: 100%;
}
