<ion-view title="Edit Vitals">
  <ion-nav-buttons side="left">
    <a class="button button" ng-controller="VitalDetailCtrl" href="#/tab/vitals/all/{{vitalEdit.soapId}}">Cancel</a>
  </ion-nav-buttons>

  <ion-content ng-controller="VitalEditCtrl" has-header="true" padding="false" has-bouncing="false">
  <form name="vital_Detail">
  <div class="SOAP VITALS">
    <div class="list">

        <!-- Time Taken -->
      <div class="titleParent">
      <h5>Time Taken<a ng-controller="SoapCtrl"  ng-click="openModal(13)"><span>i</span></a></h5>
      <div class="item item-input">
       <input id="Vital.timeTaken" type="time" ng-model="vitalEdit.timeTaken" ng-model-onblur ng-change="monitorVitalChange(vitalEdit,vitalEdit.timeTaken,'timeTaken')">
      </div>
    </div>

    <!-- Date Taken -->
    <div class="titleParent">
      <h5>Date Taken</h5>
      <div class="item item-input">
        <input id="Vital.dateTaken" type="date" ng-model="vitalEdit.dateTaken" ng-model-onblur ng-change="monitorVitalChange(vitalEdit,vitalEdit.dateTaken,'dateTaken')" value="{{dt | date:'yyyy-MM-dd'}}">
      </div>
    </div>

    <!-- LOR -->
    <div class="titleParent">
    <h5>Level of Responsiveness</h5>
      <div class="item item-select">
        <div class="input-label">
          LOR
        </div>
        <select id="Vital.lor" ng-model="vitalEdit.lor" ng-model-onblur ng-options="lor.value as lor.name for lor in LORs" ng-change="monitorVitalChange(vitalEdit,LORs[vitalEdit.lor].value,'lor')">

	         <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
    </div>

      <!-- Heart -->

    <div class="titleParent">
      <h5>Heart</h5>
      <h6>Rate (Beats Per Minute)</h6>
	     <label class="item item-input">
         <input id="Vital.rate" type="number" name="rate" min="0" max="110" placeholder="Rate (BPM)" ng-model="vitalEdit.rate" ng-model-onblur ng-change="monitorVitalChange(vitalEdit,vitalEdit.rate,'rate')">
       </label>
      <div class="error">
        <small class="error"
              ng-show="vital_Detail.rate.$error.number">
              Please check that Heart Rate is correct and a valid number
      </small>
      </div>
    </div>

      <div class="titleParent">
      <h6>Rhythm</h6>
      <div class="item item-select">
        <div class="input-label">
          Rhythm
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select id="Vital.heartRythm" ng-model="vitalEdit.heartRythm" ng-model-onblur ng-options="HEARTrythm for HEARTrythm in HEARTrythms" ng-change="monitorVitalChange(vitalEdit,HEARTrythms[vitalEdit.heartRythm],'heartRythm')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
    </div>

    <div class="titleParent">
      <h6>Quality</h6>
      <div class="item item-select">
        <div class="input-label">
          Quality
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select id="Vital.heartQuality" ng-model="vitalEdit.heartQuality" ng-model-onblur ng-change="monitorVitalChange(vitalEdit,HEARTqualities[vitalEdit.heartQuality],'heartQuality')" ng-options="HEARTquality for HEARTquality in HEARTqualities">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
      </label>
    </div>


      <!-- Respiratory -->
<h5>Respiratory</h5>
<div class="titleParent">
<h6>Rate (Breaths Per Minute)</h6>

	  <label class="item item-input">
        <input id="Vital.respRate" type="number" name="r-rate" ng-maxlength=2 placeholder="Rate (BPM)" ng-model="vitalEdit.respRate" ng-model-onblur ng-change="monitorVitalChange(vitalEdit,vitalEdit.respRate,'respRate')">
      </label>
      <div class="error">
        <small class="error"
              ng-show="vital_Detail.r-rate.$error.number">
              Please check Resp Rate is a valid number
      </small>
      </div>
    </div>

    <div class="titleParent">
      <h6>Rhythm</h6>
      <div class="item item-select">
        <div class="input-label">
          Rhythm
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select id="respRhythm" ng-model="vitalEdit.respRhythm" ng-model-onblur ng-options="RESPrythm for RESPrythm in RESPrythms" ng-change="monitorVitalChange(vitalEdit,RESPrythms[vitalEdit.respRhythm],'respRhythm')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
    </div>

    <div class="titleParent">
      <h6>Quality</h6>
      <div class="item item-select">
        <div class="input-label">
          Quality
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select id="RQuality" ng-model="vitalEdit.respQuality" ng-model-onblur ng-options="RESPquality for RESPquality in RESPqualities" ng-change="monitorVitalChange(vitalEdit,RESPqualities[vitalEdit.respQuality],'respQuality')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
    </div>




      <!-- Skin -->
      <h5>Skin</h5>
      <div class="titleParent">
      <h6>Color</h6>
	   <div class="item item-select">
        <div class="input-label">
          Color
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select id="sctmcolor" ng-model="vitalEdit.sctmcolor" ng-model-onblur ng-options="SKINcolor for SKINcolor in SKINcolors" ng-change="monitorVitalChange(vitalEdit,SKINcolors[vitalEdit.sctmcolor],'sctmcolor')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
    </div>
    <div class="titleParent">
      <h6>Temperature</h6>
      <div class="item item-select">
        <div class="input-label">
          Temperature
        </div>
        <select id="STemp" ng-model-onblur ng-model="vitalEdit.sctmtemp" ng-options="SKINtemp for SKINtemp in SKINtemps" ng-change="monitorVitalChange(vitalEdit,SKINtemps[vitalEdit.sctmtemp],'sctmtemp')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
    </div>
    <div class="titleParent">
      <h6>Moisture</h6>
      <div class="item item-select">
        <div class="input-label">
          Moisture
        </div>
        <select id="SMoist" ng-model-onblur ng-model="vitalEdit.sctmmoisture" ng-options="SKINmoist for SKINmoist in SKINmoists" ng-change="monitorVitalChange(vitalEdit,SKINmoists[vitalEdit.sctmmoisture],'sctmmoisture')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
    </div>


 <!-- Blood Pressure -->
 <h5>Blood Pressure<a ng-controller="SoapCtrl" ng-click="openModal(15)"><span>i</span></a></h5>
 <!--
 <div class="titleParent">
 <h6>Radial Pulse</h6>
    <div class="item item-select">
        <div class="input-label">
          Radial Pulse
          leave select empty - data will be brough in through ctrl
        </div>
        <select id="BPRP" ng-model-onblur ng-model="vitalEdit.brradialpulse" ng-options="BPpulse for BPpulse in BPpulses" ng-change="monitorVitalChange(vitalEdit,BPpulses[vitalEdit.brradialpulse],'brradialpulse')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
    </div>
    -->
    <div class="titleParent">
    <h6>Systolic</h6>
       <div class="item item-select">
           <div class="input-label">
             Systolic
             <!-- leave select empty - data will be brough in through ctrl -->
           </div>
           <select id="brsystolic" ng-model-onblur ng-model="vitalEdit.brsystolic" ng-options="systolic for systolic in systolics" ng-change="monitorVitalChange(vitalEdit,systolics[vitalEdit.brsystolic],'brsystolic')">
             <option style="display:none;" value="" selected>Please Choose</option>
           </select>
         </div>
       </div>

       <div class="titleParent">
       <h6>Diastolic</h6>
          <div class="item item-select">
              <div class="input-label">
                Diastolic
                <!-- leave select empty - data will be brough in through ctrl -->
              </div>
              <select id="brdiastolic" ng-model-onblur ng-model="vitalEdit.diastolic" ng-disabled="vitalEdit.brsystolic == '0'" ng-options="diastolic for diastolic in diastolics" ng-change="monitorVitalChange(vitalEdit,diastolics[vitalEdit.diastolic],'diastolic')">
                <option style="display:none;" value="" selected>Please Choose</option>
              </select>
            </div>
          </div>

    <!--
    <div class="titleParent">
      <h6>Systolic</h6>
	  <label class="item item-input">
        <input id="brsystolic" ng-model-onblur type="number" name="systolic" ng-maxlength=3 placeholder="Measurement (mmHg)" ng-model="vitalDetail.brsystolic" ng-change="monitorVitalChange(vitalDetail,vitalDetail.brsystolic,'brsystolic')">
      </label>
      <div class="error">
        <small class="error"
              ng-show="vital_Detail.systolic.$error.number">
              Please check that Systolic is a number
      </small>
      </div>
      <div class="error">
        <small class="error"
              ng-show="vital_Detail.systolic.$error.maxlength">
              Please check that Systolic is correct
      </small>
      </div>
    </div>

    <div class="titleParent">
      <h6>Diastolic</h6>
      <div class="row">
  <div class="col">
	  <div class="item item-select">
        <div class="input-label">
          Taken/Palpated
        </div>
        <select id="TP" ng-model-onblur ng-model="vitalDetail.brradialtaken" ng-options="BPtaken for BPtaken in BPtakens" onchange="check_option(this.value);" ng-change="monitorVitalChange(vitalDetail,vitalDetail.brradialtaken,'brradialtaken')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
  </div>
</div>

  <div class="col col-50">
	   <label class="item item-input">
        <input id="Diastolic" type="number" name="dias" ng-maxlength=2 placeholder="N/A" disabled="disabled" ng-model="vitalDetail.brradialReading" ng-change="monitorVitalChange(vitalDetail,vitalDetail.brradialReading,'brradialReading')">
      </label>
      <div class="error">
        <small class="error"
              ng-show="vital_Detail.dias.$error.number">
              Please check your input is a valid number
      </small>
      </div>
      <div class="error">
        <small class="error"
              ng-show="vital_Detail.dias.$error.maxlength">
              Please check that your entry is correct
      </small>
      </div>
      </div>
    </div>
  -->
  </div>


<div class="titleParent">
 <h5>Pupils<a ng-controller="SoapCtrl" ng-click="openModal(16)"><span>i</span></a></h5>
      <div class="item item-select">
        <div class="input-label">
          Pupils
        </div>
        <select id="Pupils" ng-model-onblur ng-model="vitalEdit.pupils" ng-options="pupil for pupil in pupils" ng-change="monitorVitalChange(vitalEdit,pupils[vitalEdit.pupils],'pupils')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
</div>

    <div class="titleParent">
    <h5>Temperature<a ng-controller="SoapCtrl" ng-click="openModal(17)"><span>i</span></a></h5>
    <div class="row">
  <div class="col col-50">
	  <label class="item item-input">
	  <input type="number" id="Vital.tempDegreesReading" ng-model-onblur ng-maxlength=4 name="tempDegreesReading" placeholder="Degrees" ng-model="vitalEdit.tempDegreesReading" ng-change="monitorVitalChange(vitalEdit,vitalEdit.tempDegreesReading,'tempDegreesReading')">
    </label>
    <div class="error">
    </div>
  </div>

  <div class="col col-50">
	   <div class="item item-select">
	   <div class="input-label">
          Degrees
        </div>
        <select id="Degrees" ng-model="vitalEdit.tempDegrees" ng-options="tempDegree.value as tempDegree.name for tempDegree in tempDegrees" ng-change="monitorVitalChange(vitalEdit,vitalEdit.tempDegrees,'tempDegrees')">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
</div>
  </div>
    </div>


<a class="button button-block button-light margin" href="javascript: history.go(-1)">Save Vital Set</a>
  </div>
</form>
  </ion-content>
  <!-- begin counter -->
  <div class="vital">
  <div class="row">

    <div class="vital-left col">
        <h1 id="Stopwatch">{{timeValue}}</h1>

    </div>

    <div class="col">

<button ng-click="start()" ng-disabled="play" ng-init="play=false" class="button button-calm button-small icon ion-play" id="start"></button>

<button ng-click="stop()" ng-disabled="pause" ng-init="pause=true" class="button button-calm button-small icon ion-stop"id="stop"></button>

<button ng-click="reset()" class="button button-calm button-small icon ion-refresh" id="clear"></button>

    </div>
    </div>

  </div>
</ion-view>
