<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.wmi.soapnote" version="1.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SOAPNotes</name>
    <description>
        An application to capture SOAP Notes.
    </description>
    <author email="info@eyebytesolutions.com" href="http://www.eyebytesolutions.com">
        Eye Byte Solutions
    </author>
    <content src="index.html" />

    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>
    
    <preference name="iosPersistentFileLocation" value="Library" />

    <access origin="*" />
</widget>
