<ion-content padding="true">
<div class="FirstResponder">
  <div class="CenteredLogo WMIlogo">
	  <img src="images/WMI_Logo_WHT.svg">
  </div>
<h1>Welcome to WMI SOAP Notes</h1>
  <div class="list list-inset">
    <form>
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <!-- select will need some good style refactoring -->
      <div class="item item-input item-select">
        <div class="input-label">
          Current Certification
        </div>
        <select ng-model="responder.trainingLevel" ng-options="trainingLevel for trainingLevel in trainingLevels"></select>
      </div>
      <h5>By using this application, you agree to the <a ng-click="termsPage()">Terms of Service.</a></h5>
      <button type="submit" class="button button-block button-light" ng-click="responderSoapsPage()">Accept and Continue</button>
    </form>
  </div>
</div>
</ion-content>
