<ion-view hide-nav-bar="true">
<ion-content padding="false" has-header="false" has-bouncing="false">

<div class="FirstResponder">

  <div class="CenteredLogo WMIlogo">
	  <img src="images/WMI_Logo_WHT.svg">
  </div>

<h1>SOAP Notes</h1>
  <div class="list list-inset">
    <h6>First Name</h6>
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="responder.firstName">
      </label>
    </div>
    <div class="list list-inset">
      <h6>Last Name</h6>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="responder.lastName">
      </label>
    </div>
    <div class="list list-inset">
     <h6>Training Level</h6>
      <div class="item item-select">

      <div class="input-label">
          Training Level
       </div>
        <select id="TrainingLevel" ng-model="responder.trainingLevel" ng-options="trainingLevel for trainingLevel in trainingLevels" onchange="changeClass(this.id)">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
      <p>By using this application, you agree to the <br /><a ng-click="termsPage()">Terms of Service.</a></p>
      <button type="submit" class="button button-block button-light icon-right ion-ios7-arrow-right" ng-click="newResponder(responder)">Accept and Continue</button>
  </div>
</div>
</ion-content>
</ion-view>
