<ion-view title="Settings">
<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="javascript: history.go(-1)">Back</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>
  <ion-content ng-controller="FirstResponderCtrl" has-header="true" padding="false" has-bouncing="false">
  <div class="SOAP">
  <h6>First Name</h6>
    <label class="item item-input">
      <input id="Responder.firstName" type="text" placeholder="First Name" ng-model="responder.firstName" ng-model-onblur ng-change="monitorResponderChange(responder,responder.firstName,'firstName')">
    </label>
    <h6>Last Name</h6>
    <label class="item item-input">
      <input id="Responder.lastName" type="text" placeholder="Last Name" ng-model="responder.lastName" ng-model-onblur ng-change="monitorResponderChange(responder,responder.lastName, 'lastName')">
    </label>
      <!-- select will need some good style refactoring -->
      <h6>Current Certification</h6>
      <div class="item item-input item-select">
        <div class="input-label">
          Current Certification
        </div>
        <select ng-model="responder.trainingLevel" ng-change="monitorResponderChange(responder,responder.trainingLevel,'trainingLevel')" ng-options="trainingLevel for trainingLevel in trainingLevels"></select>
      </div>
    </div>
  </ion-content>
</ion-view>
