<ion-view title="My SOAPs">

  <ion-nav-buttons side="left">

    <button class="button button icon ion-information-circled" ng-click="aboutPage()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon ion-edit" ng-click="data.showDelete = !data.showDelete"></button>
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>


  <ion-content has-header="true" padding="false" has-bouncing="false">
  <div class="SOAP">
  <a class="button button-block button-light margin" ng-click="initiateSoap(soap,responder)"><icon class="icon ion-plus-circled "></icon>Create New SOAP Note</a>
    <ion-list show-delete="data.showDelete">
      <ion-item class="item-icon-right" ng-repeat="soap in soaps" type="item-text-wrap" href="#/soaps/{{soap.id}}">
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete({{soap.id}})">
      </ion-delete-button>{{soap.patientAge}}, {{soap.patientGender}} | {{soap.patientInitials}} | {{soap.incidentDate}}
        <i class="icon ion-ios7-arrow-forward"></i>
      </ion-item>
      <div ng-hide="soaps.length" class="row responsive-sm">
        <div class="col">No New SOAP Notes</div>
      </div>
    </ion-list>
  </div>
  </ion-content>
</ion-view>
