<ion-view>

<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/soaps/{{soapDetail.id}}">Soap Detail</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="false" has-bouncing="false">
    <div class="SOAP">
      <!-- subjective section 1 -->
      <h5>Patient Position When Found<a ng-click="openModal(3)"><span>i</span></a></h5>
      <div class="list">
        <label class="item item-input">
          <textarea id="Position" type="text" placeholder="Describe the physical position of your patient." ng-model="soapDetail.patientFound" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>
      <h5>Patient Exam<a ng-click="openModal(3)"><span>i</span></a></h5>
      <div class="list">
        <label class="item item-input">
          <textarea id="PatientExam" type="text" placeholder="Describe in detail the injuries observed in the head-to-toe examination. Include pertinent negatives. Assess CSM's." ng-model="soapDetail.patientExamReveals" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>
      <h5>Vital Signs<a ng-click="openModal(3)"><span>i</span></a></h5>
      <div class="list">
      <!-- <a class="button button-block button-light margin" ng-controller="VitalCtrl" ng-click="initiateVital(vital,soapDetail)"><icon class="icon icon-right ion-plus-circled"></icon> Add Vitals</a> -->

    <table class="VitalsTable" ng-controller="VitalCtrl">
            <tr>
              <th>Time</th>
            <td ng-repeat="sv in recentsoapDetailVitals">{{sv.timeTaken}}</td>
            <td ng-hide="recentsoapDetailVitals.length" >--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 2">--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>LOR</th>
                <td ng-repeat="sv in recentsoapDetailVitals">{{sv.lor}}</td>
                <td ng-hide="recentsoapDetailVitals.length" >--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 2">--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>HR</th>
                <td ng-repeat="sv in recentsoapDetailVitals">{{sv.rate}} {{sv.heartRythm}} {{sv.heartQuality}}</td>
                <td ng-hide="recentsoapDetailVitals.length" >--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 2">--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>RR</th>
                <td ng-repeat="sv in recentsoapDetailVitals">{{sv.respRate}} {{sv.respRythm}} {{sv.respQuality}}</td>
                <td ng-hide="recentsoapDetailVitals.length" >--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 2">--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>Skin</th>
                <td ng-repeat="sv in recentsoapDetailVitals">{{sv.sctmcolor}} {{sv.sctmtemp}} {{sv.sctmmoisture}}</td>
                <td ng-hide="recentsoapDetailVitals.length" >--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 2">--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>BP</th>
                <td ng-repeat="sv in recentsoapDetailVitals">{{sv.brradialpulse}} {{sv.brsystolic}}/{{sv.brradialReading}} {{sv.brradialtaken}}</td>
                <td ng-hide="recentsoapDetailVitals.length" >--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 2">--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>Pupils</th>
                <td ng-repeat="sv in recentsoapDetailVitals">{{sv.pupils}}</td>
                <td ng-hide="recentsoapDetailVitals.length" >--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 2">--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>Temp</th>
                <td ng-repeat="sv in recentsoapDetailVitals">{{sv.tempDegreesReading}}{{sv.tempDegrees}}</td>
                <td ng-hide="recentsoapDetailVitals.length" >--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 2">--</td>
            <td ng-hide="recentsoapDetailVitals.length >= 3">--</td>
            </tr>
        </table>

      <!-- <a class="button button-block button-calm margin" href="#/tab/vitals">View All Vitals</a> -->
      </div>
      <h5>Patient History<a ng-click="openModal(3)"><span>i</span></a></h5>
      <h6>Symptoms</h6>
      <div class="list">
        <label class="item item-input">
          <textarea id="Symptoms" type="text" placeholder="Headache? Dizziness? Nausea? Cold? Hot?" ng-model="soapDetail.patientSymptoms" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>
      <h6>Allergies</h6>
        <div class="list">
        <label class="item item-input">
          <textarea id="Allergies" type="text" placeholder="Allergies to Medications? Foods? Insects? Pollens? Exposure? What happens with exposure?" ng-model="soapDetail.patientAllergies" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
        </div>
        <h6>Medications</h6>
        <div class="list">
        <label class="item item-input">
          <textarea id="Medications" type="text" placeholder="Over the Counter? Prescription? Alcohol or Recreational?" ng-model="soapDetail.patientMedications" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
        </div>
        <h6>Pertinent Medical History</h6>
        <div class="list">
        <label class="item item-input">
          <textarea id="History" type="text" placeholder="Felt this way before? Problems with Heart? Breathing? Digestion? History of Seizures? Diabetes?" ng-model="soapDetail.patientMedicalHistory" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
        </div>
        <h6>Last Intake/Output</h6>
        <div class="list">
        <label class="item item-input">
          <textarea id="LIO" type="text" placeholder="Food? Water? Urination? Defecation? Vomiting?" ng-model="soapDetail.patientLastIntake" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
        </div>
        <h6>Events Leading up to Incident/Illness</h6>
        <div class="list">
        <label class="item item-input">
          <textarea id="ELUT" type="text" placeholder="Events leading up to or causing the incident/illness." ng-model="soapDetail.patientEventsForCause" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>
      <a class="button button-block button-light icon-right ion-ios7-arrow-right margin last" href="#/soaps/edit/{{soapDetail.id}}/ap">Continue to Assessment & Plan</a>
    </div>
  </ion-content>
</ion-view>
