<ion-view title="Edit A-P">
<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/soaps/{{soapDetail.id}}">Soap Detail</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>


  <ion-content has-header="true" padding="false" has-bouncing="false">
    <div class="SOAP">
      <h5>Assessment<a ng-click="openModal(4)"><span>i</span></a></h5>
      <div class="list">
        <label class="item item-input">
          <textarea id="Assessment" type="text" placeholder="List all possible problems." ng-model="soapDetail.patientAssessment" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>

        <h5>Plan<a ng-click="openModal(4)"><span>i</span></a></h5>
        <div class="list">
        <label class="item item-input">
          <textarea id="Plan" type="text" placeholder="Describe actions taken for each problem and plans for further care." ng-model="soapDetail.patientPlan" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
        </div>

        <h6>Anticipated Problems<a ng-click="openModal(4)"><span>i</span></a></h6>
        <div class="list">
        <label class="item item-input">
          <textarea id="AP" type="text" placeholder="Consider anticipated problems and possible impact on evacuation needs." ng-model="soapDetail.patientAnticipatedProblems" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>


     <!-- <a class="button button-block button-light icon icon-right ion-ios7-arrow-right margin" ng-controller="CameraCtrl" href="#/tab/images">Add Photos</a>

      <a class="button button-block button-calm margin" href="#/tab/review">Review soapDetail Note</a> -->

    </div>
