<ion-view title="{{soap.patientSex}}, {{soap.patientAge}} | {{soap.patientInitials}}">
<ion-nav-buttons side="left">
    <button class="button icon ion-ios7-arrow-back" ng-click="mySoapsPage()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  <button class="button icon ion-ios7-compose-outline" ng-click="data.showDelete = !data.showDelete"></button>
    <button class="button icon ion-ios7-upload-outline" ng-click="data.showDelete = !data.showDelete"></button>
  </ion-nav-buttons>




<div class="SOAP">

  <ion-content class="has-header" padding="yes">
    <div class="SOAP">
      <h2>Review SOAP Note</h2>
      <h3>Location</h3>
      {{ soap.created_at | soapDate:"MMM d, yyy" }}
       <h5>Location</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Date: </strong> {{soap.incidentDate}}</ion-item>
          <ion-item class="item-text-wrap">{{soap.incidentLocation}}</ion-item>
          <ion-item class="item-text-wrap"><strong>GPS: </strong> {{soap.incidentLat}}, {{soap.incidentLon}}</ion-item>
        </ion-list>
      </div>

       <h5>Responder</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.responderFirstName}} {{soap.responderLastName}}, {{soap.responderLevelOfTraining}}</ion-item>
        </ion-list>
      </div>


     <h3>Subjective</h3>


      <h5>I have a</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Age:</strong> {{soap.patientAge}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Sex: </strong> {{soap.patientSex}}</ion-item>
          <ion-item class="item-text-wrap"><strong>DOB: </strong> {{soap.patientDob}}</ion-item>

        </ion-list>
      </div>

      <h5>Whose chief complaint is</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientComplaint}}</ion-item>

          <ion-item><strong>Onset:</strong> {{soap.patientOnset}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Provokes/Palliates:</strong> {{soap.patientPPalliates}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Quality:</strong> {{soap.patientQuality}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Radiates:</strong> {{soap.patientRadiates}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Severity:</strong> {{soap.patientSeverity}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Time:</strong> {{soap.patientTime}}</ion-item>

        </ion-list>
      </div>

      <h5>Mechanism of Injury/HPI</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientHPI}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Suspected Spinal MOI:</strong> {{soap.patientSpinal}}</ion-item>
        </ion-list>
      </div>

      <h3>Objective</h3>
      <h5>General</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Patient Found:</strong> {{soap.patientFound}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Patient Exam Reveals:</strong> {{soap.patientExamReveals}}</ion-item>
        </ion-list>
      </div>

      <h5>Vitals</h5>

      <div class="row">
		  <div class="col"></div>
		  <div class="col">time 1</div>
		  <div class="col">time 2</div>
		  <div class="col">time 3</div>
	  </div>

      <div class="row">
		  <div class="col col-label">LOR:</div>
		  <div class="col">1</div>
		  <div class="col">2</div>
		  <div class="col">3</div>
	  </div>

	  <div class="row">
		  <div class="col col-label">HR:</div>
		  <div class="col">1</div>
		  <div class="col">2</div>
		  <div class="col">3</div>
	  </div>

	  <div class="row">
		  <div class="col col-label">RR:</div>
		  <div class="col">1</div>
		  <div class="col">2</div>
		  <div class="col">3</div>
	  </div>

	  <div class="row">
		  <div class="col col-label">Skin:</div>
		  <div class="col">1</div>
		  <div class="col">2</div>
		  <div class="col">3</div>
	  </div>

	  <div class="row">
		  <div class="col col-label">BP:</div>
		  <div class="col">1</div>
		  <div class="col">2</div>
		  <div class="col">3</div>
	  </div>

	  <div class="row">
		  <div class="col col-label">Pupils:</div>
		  <div class="col">1</div>
		  <div class="col">2</div>
		  <div class="col">3</div>
	  </div>

	  <div class="row">
		  <div class="col col-label">Temp:</div>
		  <div class="col">1</div>
		  <div class="col">2</div>
		  <div class="col">3</div>
	  </div>


      </div>

      <h5>Patient History</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Symptoms:</strong> {{soap.patientSymptoms}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Allergies:</strong> {{soap.patientAllergies}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Medications:</strong> {{soap.patientMedications}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Pertinent Medical History:</strong> {{soap.patientMedicalHistory}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Last Intake/Output:</strong> {{soap.patientLastIntake}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Events Leading to Injury/Illness:</strong> {{soap.patientEventsForCause}}</ion-item>
        </ion-list>
      </div>

	  <h3>Assesment</h3>
      <h5>The Assesment</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientAssessment}}</ion-item>
        </ion-list>
      </div>

      <h3>Plan</h3>
      <h5>The Plan</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientPlan}}</ion-item>
        </ion-list>
      </div>

      <h5>Anticipated Problems</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientAnticipatedProblems}}</ion-item>
        </ion-list>
      </div>



      </div>
  </ion-content>

</ion-view>
