<ion-view title="Objective">

<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/tab/subjective/{{soapObjective.id}}">Subjective</a>
</ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="false" has-bouncing="false">
    <div class="SOAP">
      <!-- subjective section 1 -->
      <h5>Patient Position When Found<a ng-controller="SoapCtrl" ng-click="openModal(3)"><span>i</span></a></h5>
      <div class="list">
        <label class="item item-input">
          <textarea id="Soap.patientFound" type="text" placeholder="Describe the physical position of your patient." ng-model="soapObjective.patientFound" ng-model-onblur ng-change="monitorSoapObjectiveChange(soapObjective,soapObjective.patientFound,'patientFound')" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>
      <h5>Patient Exam<a ng-controller="SoapCtrl" ng-click="openModal(3)"><span>i</span></a></h5>
      <div class="list">
        <label class="item item-input">

          <textarea id="Soap.patientExamReveals" type="text" placeholder="Describe in detail the injuries observed in the head-to-toe examination. Include pertinent negatives. Assess CSM's." ng-model="soapObjective.patientExamReveals" ng-model-onblur ng-change="monitorSoapObjectiveChange(soapObjective,soapObjective.patientExamReveals,'patientExamReveals')" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>
      <h5>Vital Signs<a ng-controller="SoapCtrl" ng-click="openModal(3)"><span>i</span></a></h5>
      <div class="list">
      <a class="button button-block button-light margin" href="#/tab/vitals/{{starterVital.id}}"><icon class="icon icon-right ion-plus-circled"></icon> Add Vitals</a>

	  <table class="VitalsTable">
            <tr>
              <th>Time</th>
            <td ng-repeat="sv in recentSoapVitals">{{sv.timeTaken}}</td>
            <td ng-hide="recentSoapVitals.length" >--</td>
            <td ng-hide="recentSoapVitals.length >= 2">--</td>
            <td ng-hide="recentSoapVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>LOR</th>
                <td ng-repeat="sv in recentSoapVitals">{{sv.lor}}</td>
                <td ng-hide="recentSoapVitals.length" >--</td>
            <td ng-hide="recentSoapVitals.length >= 2">--</td>
            <td ng-hide="recentSoapVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>HR</th>
                <td ng-repeat="sv in recentSoapVitals">{{sv.rate}} {{sv.heartRythm}} {{sv.heartQuality}}</td>
                <td ng-hide="recentSoapVitals.length" >--</td>
            <td ng-hide="recentSoapVitals.length >= 2">--</td>
            <td ng-hide="recentSoapVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>RR</th>
                <td ng-repeat="sv in recentSoapVitals">{{sv.respRate}} {{sv.respRythm}} {{sv.respQuality}}</td>
                <td ng-hide="recentSoapVitals.length" >--</td>
            <td ng-hide="recentSoapVitals.length >= 2">--</td>
            <td ng-hide="recentSoapVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>Skin</th>
                <td ng-repeat="sv in recentSoapVitals">{{sv.sctmcolor}} {{sv.sctmtemp}} {{sv.sctmmoisture}}</td>
                <td ng-hide="recentSoapVitals.length" >--</td>
            <td ng-hide="recentSoapVitals.length >= 2">--</td>
            <td ng-hide="recentSoapVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>BP</th>
                <td ng-repeat="sv in recentSoapVitals">{{sv.brradialpulse}} {{sv.brsystolic}}/{{sv.brradialReading}} {{sv.brradialtaken}}</td>
                <td ng-hide="recentSoapVitals.length" >--</td>
            <td ng-hide="recentSoapVitals.length >= 2">--</td>
            <td ng-hide="recentSoapVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>Pupils</th>
                <td ng-repeat="sv in recentSoapVitals">{{sv.pupils}}</td>
                <td ng-hide="recentSoapVitals.length" >--</td>
            <td ng-hide="recentSoapVitals.length >= 2">--</td>
            <td ng-hide="recentSoapVitals.length >= 3">--</td>
            </tr>
            <tr>
                <th>Temp</th>
                <td ng-repeat="sv in recentSoapVitals">{{sv.tempDegreesReading}}{{sv.tempDegrees}}</td>
                <td ng-hide="recentSoapVitals.length" >--</td>
            <td ng-hide="recentSoapVitals.length >= 2">--</td>
            <td ng-hide="recentSoapVitals.length >= 3">--</td>
            </tr>
        </table>

      <a class="button button-block button-calm margin" href="#/tab/vitals/all/{{soapObjective.id}}">View All Vitals</a>
      </div>
      <h5>Patient History<a ng-controller="SoapCtrl" ng-click="openModal(3)"><span>i</span></a></h5>
      <h6>Symptoms</h6>
      <div class="list">
        <label class="item item-input">
          <textarea id="Soap.patientSymptoms" type="text" placeholder="Headache? Dizziness? Nausea? Cold? Hot?" ng-model="soapObjective.patientSymptoms" ng-model-onblur ng-change="monitorSoapObjectiveChange(soapObjective,soapObjective.patientSymptoms,'patientSymptoms')" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>
      <h6>Allergies</h6>
        <div class="list">
        <label class="item item-input">
          <textarea id="Soap.patientAllergies" type="text" placeholder="Allergies to Medications? Foods? Insects? Pollens? Exposure? What happens?" ng-model="soapObjective.patientAllergies" ng-model-onblur ng-change="monitorSoapObjectiveChange(soapObjective,soapObjective.patientAllergies,'patientAllergies')" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
        </div>
        <h6>Medications</h6>
        <div class="list">
        <label class="item item-input">
          <textarea id="Soap.patientMedications" type="text" placeholder="Alcohol or Recreational?" ng-model="soapObjective.patientMedications" ng-model-onblur ng-change="monitorSoapObjectiveChange(soapObjective,soapObjective.patientMedications,'patientMedications')" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
        </div>
        <h6>Pertinent Medical History</h6>
        <div class="list">
        <label class="item item-input">
          <textarea id="Soap.patientMedicalHistory" type="text" placeholder="Felt this way before? Problems with Heart? Breathing? Digestion? History of Seizures? Diabetes?" ng-model="soapObjective.patientMedicalHistory" ng-model-onblur ng-change="monitorSoapObjectiveChange(soapObjective,soapObjective.patientMedicalHistory,'patientMedicalHistory')" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
        </div>
        <h6>Last Intake/Output</h6>
        <div class="list">
        <label class="item item-input">

          <textarea id="Soap.patientLastIntake" type="text" placeholder="Food? Water? Urination? Defecation? Vomiting?" ng-model="soapObjective.patientLastIntake" ng-model-onblur ng-change="monitorSoapObjectiveChange(soapObjective,soapObjective.patientLastIntake,'patientLastIntake')" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>

        </label>
        </div>
        <h6>Events Leading up to Incident/Illness</h6>
        <div class="list">
        <label class="item item-input">
           <textarea id="Soap.patientEventsForCause" type="text" placeholder="Cause?" ng-model="soapObjective.patientEventsForCause" ng-model-onblur ng-change="monitorSoapObjectiveChange(soapObjective,soapObjective.patientEventsForCause,'patientEventsForCause')" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
        </label>
      </div>
      <a class="button button-block button-light icon-right ion-ios7-arrow-right margin last" href="#/tab/ap/{{soapObjective.id}}">Continue to Assessment & Plan</a>
    </div>
  </ion-content>
</ion-view>
