<ion-view title="{{soapReview.patientGender}}, {{soapReview.patientAge}} | {{soapReview.patientInitials}}">
<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" style="white-space: nowrap !important" href="#/tab/ap/{{soapReview.id}}">Back</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">

    <a class="button icon ion-edit" href="#/tab/overview/{{soapReview.id}}"></a>
    <button class="button icon ion-ios7-compose-outline" ng-controller="SoapCtrl" ng-click="shareSOAP(soapReview,recentAllSoapReviewVitals,soapImgs)"></button>
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>

  </ion-nav-buttons>


  <ion-content class="has-header" padding="false" has-bouncing="false">
    <div class="SOAP">

      <h5>Location</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Date of Incident: </strong> {{soapReview.incidentDate}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Location: </strong> {{soapReview.incidentLocation}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Coordinates: </strong> {{soapReview.incidentLat}}, {{soapReview.incidentLon}}</ion-item>
           <ion-item class="item-text-wrap"><strong>Responder: </strong> {{soapReview.responderFirstName}} {{soapReview.responderLastName}}, {{soapReview.responderTrainingLevel}}</ion-item>
        </ion-list>
      </div>

     <h5>Subjective</h5>

      <div class="list">
        <ion-list>
        <ion-item class="item-text-wrap"><strong>Patient Initials:</strong> {{soapReview.patientInitials}}</ion-item>
        <ion-item class="item-text-wrap"><strong>DOB: </strong> {{soapReview.patientDob}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Age:</strong> {{soapReview.patientAge}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Sex: </strong> {{soapReview.patientGender}}</ion-item>


        </ion-list>
      </div>

      <h6>Chief Complaint</h6>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soapReview.patientComplaint}}</ion-item>

          <ion-item><strong>Onset:</strong> {{soapReview.patientOnset}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Provokes/Palliates:</strong> {{soapReview.patientPPalliates}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Quality:</strong> {{soapReview.patientQuality}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Radiation/Region/Referred:</strong> {{soapReview.patientRadiates}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Severity:</strong> {{soapReview.patientSeverity}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Time of Onset:</strong> {{soapReview.patientOnsetDate}}, {{soapReview.patientOnsetTime}}</ion-item>

        </ion-list>
      </div>

      <h6>MOI/HPI</h6>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soapReview.patientHPI}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Spinal MOI:</strong> {{soapReview.patientSpinal}}</ion-item>
        </ion-list>
      </div>

      <h5>Objective</h5>
      <h6>General</h6>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Patient Position When Found:</strong> {{soapReview.patientFound}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Patient Exam:</strong> {{soapReview.patientExamReveals}}</ion-item>
        </ion-list>
      </div>

      <h6>Vital Signs</h6>
      <div class="list">

      <table class="VitalsTable">
        <tr>
          <th>Date</th>
          <td ng-repeat="sv in recentSoapReviewVitals">{{sv.dateTaken}}</td>
          <td ng-hide="recentSoapReviewVitals.length" >--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 2">--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 3">--</td>
        </tr>
          <tr>
            <th>Time</th>
          <td ng-repeat="sv in recentSoapReviewVitals">{{sv.timeTaken}}</td>
          <td ng-hide="recentSoapReviewVitals.length" >--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 2">--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>LOR</th>
              <td ng-repeat="sv in recentSoapReviewVitals">{{sv.lor}}</td>
              <td ng-hide="recentSoapReviewVitals.length" >--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 2">--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>HR</th>
              <td ng-repeat="sv in recentSoapReviewVitals">{{sv.rate}} {{sv.heartRythm}} {{sv.heartQuality}}</td>
              <td ng-hide="recentSoapReviewVitals.length" >--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 2">--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>RR</th>
              <td ng-repeat="sv in recentSoapReviewVitals">{{sv.respRate}} {{sv.respRhythm}} {{sv.respQuality}}</td>
              <td ng-hide="recentSoapReviewVitals.length" >--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 2">--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>Skin</th>
              <td ng-repeat="sv in recentSoapReviewVitals">{{sv.sctmcolor}} {{sv.sctmtemp}} {{sv.sctmmoisture}}</td>
              <td ng-hide="recentSoapReviewVitals.length" >--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 2">--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>BP</th>
              <td ng-repeat="sv in recentSoapReviewVitals">{{sv.brradialpulse}} {{sv.brsystolic.replace('.0', '')}}/{{sv.diastolic.replace('.0', '')}}</td>
              <td ng-hide="recentSoapReviewVitals.length" >--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 2">--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>Pupils</th>
              <td ng-repeat="sv in recentSoapReviewVitals">{{sv.pupils}}</td>
              <td ng-hide="recentSoapReviewVitals.length" >--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 2">--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>Temp</th>
              <td ng-repeat="sv in recentSoapReviewVitals">{{sv.tempDegreesReading}}{{sv.tempDegrees}}</td>
              <td ng-hide="recentSoapReviewVitals.length" >--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 2">--</td>
          <td ng-hide="recentSoapReviewVitals.length >= 3">--</td>
          </tr>
      </table>
      </div>

      <h6>Patient History</h6>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Symptoms:</strong> {{soapReview.patientSymptoms}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Allergies:</strong> {{soapReview.patientAllergies}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Medications:</strong> {{soapReview.patientMedications}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Pertinent Medical History:</strong> {{soapReview.patientMedicalHistory}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Last Intake/Output:</strong> {{soapReview.patientLastIntake}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Events Leading up to Injury/Illness:</strong> {{soapReview.patientEventsForCause}}</ion-item>
        </ion-list>
      </div>

	  <h5>Assessment</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soapReview.patientAssessment}}</ion-item>
        </ion-list>
      </div>

      <h5>Plan</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soapReview.patientPlan}}</ion-item>
        </ion-list>
          <ion-item class="item-text-wrap"><strong>Anticipated Problems:</strong> {{soapReview.patientAnticipatedProblems}}</ion-item>
        </ion-list>
      </div>

      <h5>Patient Images</h5>
      <div class="card-image">
        <div class="list card card-image-left" ng-repeat="soapImg in soapImgs">
          <div class="item item-image">
            <img style="display:block" ng-src="{{soapImg.imageURI}}">
            <p>{{soapImg.imgCaption}}</p>
          </div>
        </div>
      </div>
      </div>
<div class="continueGroup">
<a class="button continue button-light icon icon-right ion-app-share margin" ng-controller="SoapCtrl" ng-click="shareSOAP(soapReview,recentAllSoapReviewVitals,soapImgs)">Share This SOAP</a>
</div>
      
  </ion-content>

</ion-view>
