<ion-view title="Subjective">

<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/tab/overview">Overview</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="false" has-bouncing="false">

    <!-- subjective section 1 -->
    <div class="SOAP">
      <h5>Patient Information<a ng-click="openModal(2)"><span>i</span></a></h5>
      <div class="list">
      <!-- initials -->
      <h6>Patient Initials</h6>
      <label class="item item-input">
        <input type="text" placeholder="Enter up to three characters." ng-model="soap.patientInitials">
      </label>
      <!-- DOB -->
      <h6>Date of Birth</h6>
      <label class="item item-input">
        <input type="date" placeholder="Patient DOB" ng-model="soap.patientDob">
      </label>
      <!-- Age. Auto populate from DOB if filled -->
      <h6>Age</h6>
      <label class="item item-input">
        <input type="number" placeholder="Patient Age" ng-model="soap.patientAge">
      </label>
      <!-- Sex -->
      <h6>Sex</h6>
      <div class="item item-select">
      <div class="input-label">
          Sex
       </div>
        <select id="Sex" ng-model="soap.patientGender" ng-options="gender for gender in genders"  onchange="changeClass(this.id)">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>


    </div>
    <!-- subjective section 2 -->
    <h5>Chief Complaint<a ng-click="openModal(2)"><span>i</span></a></h5>
    <div class="list">
      <label class="item item-input">
        <textarea id ="ChiefComplaint" type="text" placeholder="Describe the patient's chief complaint." ng-model="soap.patientComplaint" ng-model="soap.patientComplaint"
	ng-keyup="expandText($event)"
	ng-keydown="expandText($event)"></textarea>
      </label>

    <!-- subjective section 3 -->
   <h6>Onset</h6>
      <div class="item item-select">
      <div class="input-label">
          Onset
       </div>
        <select id="Onset" ng-model="soap.patientOnset" ng-options="onset for onset in onsets"  onchange="changeClass(this.id)">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
      <h6>Provokes/Palliates</h6>
      <label class="item item-input">
        <textarea id="PP" type="text" placeholder="What makes the pain better or worse?" ng-model="soap.patientPPalliates" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
      </label>
	  <h6>Quality</h6>
      <div class="item item-select">
      <div class="input-label">
          Quality
       </div>
        <select id="Quality" ng-model="soap.patientQuality" ng-options="quality for quality in qualities"  onchange="changeClass(this.id)">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
	  <h6>Radiation/Region/Referred</h6>
      <label class="item item-input">
        <textarea id="RRR" type="text" placeholder="Does the feeling move anywhere? Where is it located?" ng-model="soap.patientRadiates" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
      </label>
	  <h6>Severity</h6>
      <div class="item item-select">
      <div class="input-label">
          Severity
       </div>
        <select id="Severity" ng-options="severity for severity in severities"  ng-model="soap.severity" onchange="changeClass(this.id)">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>
	  <h6>Time of Onset</h6>
      <label class="item item-input">
        <input type="time" placeholder="" ng-model="soap.patientTime">
      </label>
    </div>
    <h5>MOI/HPI<a ng-click="openModal(2)"><span>i</span></a></h5>
    <div class="list">

     <label class="item item-input">
        <textarea id="MOI" type="text" placeholder="Describe in detail the mechanism of injury or the history of the illness." ng-model="soap.patientHPI" ng-keyup="expandText($event)" ng-keydown="expandText($event)"></textarea>
      </label>
	  <h6>Suspected Spinal MOI</h6>
      <div class="item item-select">
      <div class="input-label">
          Suspected Spinal MOI
       </div>
        <select id="SMOI" ng-model="soap.patientSpinal" ng-options="spinal for spinal in spinals"  onchange="changeClass(this.id)">
	        <option style="display:none;" value="" selected>Please Choose</option>
        </select>
      </div>

    </div>
      <a class="button button-block button-light icon-right ion-ios7-arrow-right margin" href="#/tab/objective">Continue to Objective</a>
    </div>
  </ion-content>
</ion-view>
