<ion-view title="Add Photos">
<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/tab/ap">A & P</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
     <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="false" has-bouncing="false">


  <div class="SOAP">

<div id="camera">
<ion-list>
  <div class="row">
    <div class="col">
      <ion-item ng-repeat="img in imgs">
        <img style="width:40%;height:30%;display:block;" ng-src="{{img.imageURI}}">
      </ion-item>
    </div>
  </div>
</ion-list>
</div>



<!-- <a class="button button-block button-light margin" ng-controller="SoapImgCtrl" ng-click="takeNewImg()"><i class="icon ion-app-photos margin"></i>Capture Photo</a>-->
<a class="button button-block button-calm margin" href="#/tab/review/{{soapImg.id}}">Review SOAP Note</a>

    </div>
  </ion-content>
</ion-view>
