<ion-view title="{{soap.patientSex}}, {{soap.patientAge}} | {{soap.patientInitials}}">
<ion-nav-buttons side="left">
    <button class="button icon ion-ios7-arrow-back" ng-click="apPage()">Back</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  <button class="button icon ion-edit" ng-click="data.showDelete = !data.showDelete"></button>
    <button class="button icon ion-app-share" ng-controller="SoapCtrl" ng-click="shareSOAP(soap)"></button>
  </ion-nav-buttons>


  <ion-content class="has-header" padding="false" has-bouncing="false">
    <div class="SOAP">

      <h5>Location</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Date of Incident: </strong> {{soap.incidentDate}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Location: </strong>{{soap.incidentLocation}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Coordinates: </strong> {{soap.incidentLat}}, {{soap.incidentLon}}</ion-item>
           <ion-item class="item-text-wrap"><strong>Responder: </strong>{{soap.responderFirstName}} {{soap.responderLastName}}, {{soap.responderLevelOfTraining}}</ion-item>
        </ion-list>
      </div>



     <h5>Subjective</h5>



      <div class="list">
        <ion-list>
        <ion-item class="item-text-wrap"><strong>Patient Initials:</strong> {{soap.patientInitials}}</ion-item>
        <ion-item class="item-text-wrap"><strong>DOB: </strong> {{soap.patientDob}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Age:</strong> {{soap.patientAge}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Sex: </strong> {{soap.patientGender}}</ion-item>


        </ion-list>
      </div>

      <h6>Whose chief complaint is:</h6>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientComplaint}}</ion-item>

          <ion-item><strong>Onset:</strong> {{soap.patientOnset}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Provokes/Palliates:</strong> {{soap.patientPPalliates}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Quality:</strong> {{soap.patientQuality}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Radiation/Region/Referred:</strong> {{soap.patientRadiates}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Severity:</strong> {{soap.patientSeverity}} out of 10</ion-item>
          <ion-item class="item-text-wrap"><strong>Time of Onset:</strong> {{soap.patientTime}}</ion-item>

        </ion-list>
      </div>

      <h6>MOI/HPI</h6>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientHPI}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Suspected Spinal MOI:</strong> {{soap.patientSpinal}}</ion-item>
        </ion-list>
      </div>

      <h5>Objective</h5>
      <h6>General</h6>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Patient Position When Found:</strong> {{soap.patientFound}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Patient Exam:</strong> {{soap.patientExamReveals}}</ion-item>
        </ion-list>
      </div>

      <h6>Vital Signs</h6>
      <div class="list">

      <table class="VitalsTable" ng-controller="VitalCtrl">
          <tr>
            <th>Time</th>
          <td ng-repeat="sv in recentSoapVitals">{{sv.timeTaken}}</td>
          <td ng-hide="recentSoapVitals.length" >--</td>
          <td ng-hide="recentSoapVitals.length >= 2">--</td>
          <td ng-hide="recentSoapVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>LOR</th>
              <td ng-repeat="sv in recentSoapVitals">{{sv.lor}}</td>
              <td ng-hide="recentSoapVitals.length" >--</td>
          <td ng-hide="recentSoapVitals.length >= 2">--</td>
          <td ng-hide="recentSoapVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>HR</th>
              <td ng-repeat="sv in recentSoapVitals">{{sv.rate}} {{sv.heartRythm}} {{sv.heartQuality}}</td>
              <td ng-hide="recentSoapVitals.length" >--</td>
          <td ng-hide="recentSoapVitals.length >= 2">--</td>
          <td ng-hide="recentSoapVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>RR</th>
              <td ng-repeat="sv in recentSoapVitals">{{sv.respRate}} {{sv.respRythm}} {{sv.respQuality}}</td>
              <td ng-hide="recentSoapVitals.length" >--</td>
          <td ng-hide="recentSoapVitals.length >= 2">--</td>
          <td ng-hide="recentSoapVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>Skin</th>
              <td ng-repeat="sv in recentSoapVitals">{{sv.sctmcolor}} {{sv.sctmtemp}} {{sv.sctmmoisture}}</td>
              <td ng-hide="recentSoapVitals.length" >--</td>
          <td ng-hide="recentSoapVitals.length >= 2">--</td>
          <td ng-hide="recentSoapVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>BP</th>
              <td ng-repeat="sv in recentSoapVitals">{{sv.brradialpulse}} {{sv.brsystolic}}/{{sv.brradialReading}} {{sv.brradialtaken}}</td>
              <td ng-hide="recentSoapVitals.length" >--</td>
          <td ng-hide="recentSoapVitals.length >= 2">--</td>
          <td ng-hide="recentSoapVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>Pupils</th>
              <td ng-repeat="sv in recentSoapVitals">{{sv.pupils}}</td>
              <td ng-hide="recentSoapVitals.length" >--</td>
          <td ng-hide="recentSoapVitals.length >= 2">--</td>
          <td ng-hide="recentSoapVitals.length >= 3">--</td>
          </tr>
          <tr>
              <th>Temp</th>
              <td ng-repeat="sv in recentSoapVitals">{{sv.tempDegreesReading}}{{sv.tempDegrees}}</td>
              <td ng-hide="recentSoapVitals.length" >--</td>
          <td ng-hide="recentSoapVitals.length >= 2">--</td>
          <td ng-hide="recentSoapVitals.length >= 3">--</td>
          </tr>
      </table>
      </div>

      <h6>Patient History</h6>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Symptoms:</strong> {{soap.patientSymptoms}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Allergies:</strong> {{soap.patientAllergies}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Medications:</strong> {{soap.patientMedications}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Pertinent Medical History:</strong> {{soap.patientMedicalHistory}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Last Intake/Output:</strong> {{soap.patientLastIntake}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Events Leading up to Injury/Illness:</strong> {{soap.patientEventsForCause}}</ion-item>
        </ion-list>
      </div>

	  <h5>Assessment</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientAssessment}}</ion-item>
        </ion-list>
      </div>

      <h5>Plan</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientPlan}}</ion-item>
        </ion-list>
          <ion-item class="item-text-wrap"><strong>Anticipated Problems:</strong> {{soap.patientAnticipatedProblems}}</ion-item>
        </ion-list>
      </div>

<a class="button button-block button-light icon icon-right ion-app-share margin" ng-controller="SoapCtrl" ng-click="shareSOAP(soap)">Share This SOAP</a>

      </div>
  </ion-content>

</ion-view>
