<ion-view title="Add Photos">
<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/tab/ap/{{soapImg.id}}">A & P</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
     <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="false" has-bouncing="false">


  <div class="SOAP">

<div class="card-image">
  <div class="list card card-image-left" ng-controller="SoapImgCtrl" ng-repeat="img in imgs">
    <a class="item item-avatar" ng-controller="SoapImgDetailCtrl" confirmed-click="deleteImg(img)" ng-confirm-click="Are you sure you want to delete this image?">
      <i class="icon ion-ios7-close"></i>
    </a>
    <div class="item item-image">
      <img style="display:block" ng-src="{{img.imageURI}}">
      <input id="Camera.imgCaption" type="text" ng-model="img.imgCaption" ng-model-onblur ng-controller="SoapImgDetailCtrl" ng-change="addACaption(img,img.imgCaption,'imgCaption')"
        ng-keyup="expandText($event)"
        ng-keydown="expandText($event)"
       placeholder="Add a Caption">
    </div>
  </div>
</div>

<!--
<ion-list class="card card-image">
      <ion-item ng-controller="SoapImgCtrl" ng-repeat="img in imgs" class="item-image card-image-left">
        <a class="item item-avatar" ng-click="deleteImg(img)">
          <i class="icon ion-ios7-close"></i>
        </a>
        <img style="display:block" ng-src="{{img.imageURI}}">
        <input id="Camera.imgCaption" type="text" ng-model="img.imgCaption" ng-model-onblur ng-change="addACaption(img,img.imgCaption,'imgCaption')" placeholder="Add a Caption">
      </ion-item>
</ion-list>
-->




<a class="button button-block button-light margin" ng-controller="SoapImgDetailCtrl" ng-click="takeNewImg(starterImg)"><i class="icon ion-app-photos margin"></i>Capture Photo</a>
<a class="button button-block button-calm margin" href="#/tab/review/{{soapImg.id}}">Review SOAP Note</a>

    </div>
  </ion-content>
</ion-view>
