<ion-view title="Add Vitals">
  <ion-nav-buttons side="left">
    <a class="button button" href="#/tab/objective">Cancel</a>
  </ion-nav-buttons>

  <ion-content class="has-header">
  <div class="SOAP VITALS">
    <div class="list">

    <!-- LOR -->
      <div class="item item-input item-select">
        <div class="input-label">
          LOR
        </div>
        <select ng-model="vital.lor" ng-options="LOR for LOR in LORs"></select>
      </div>

      <!-- Heart -->

     <div class="row">
  <div class="col col-33"><strong>Heart</strong></div>
  <div class="col">
	  <label class="item item-input">
        <input type="number" placeholder="Rate (BPM)">
      </label>
      <div class="item item-input item-select">
        <div class="input-label">
          Rhythm
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.patientGender" ng-options="HEARTrythm for HEARTrythm in HEARTrythms"></select>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Quality
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.quality" ng-options="HEARTquality for HEARTquality in HEARTqualities"></select>
      </div>
      </label>
  </div>
</div>

      <!-- Respritory -->
<div class="row">
  <div class="col col-33"><strong>Respritory</strong></div>
  <div class="col">
	  <label class="item item-input">
        <input type="number" placeholder="Rate (BPM)">
      </label>
      <div class="item item-input item-select">
        <div class="input-label">
          Rhythm
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.rrhythm" ng-options="RESPrythm for RESPrythm in RESPrythms"></select>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Quality
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.rquality" ng-options="RESPquality for RESPquality in RESPqualities"></select>
      </div>


  </div>
</div>

      <!-- Skin -->
<div class="row">
  <div class="col col-33"><strong>Skin</strong></div>
  <div class="col">
	   <div class="item item-input item-select">
        <div class="input-label">
          Color
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.sctmcolor" ng-options="SKINcolor for SKINcolor in SKINcolors"></select>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Temp
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.sctmtemp" ng-options="SKINtemp for SKINtemp in SKINtemps"></select>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Moisture
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.sctmmoisture" ng-options="SKINmoist for SKINmoist in SKINmoists"></select>
      </div>
  </div>
</div>





 <!-- Blood Pressure -->
<div class="row">
  <div class="col col-33"><strong>Blood Pressure</strong></div>
  <div class="col">
    <div class="item item-input item-select">
        <div class="input-label">
          Radial Pulse
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.brradialpulse" ng-options="BPpulse for BPpulse in BPpulses"></select>
      </div>
	  <label class="item item-input">
        <input type="number" placeholder="Systolic">
      </label>
	  <label class="item item-input">
        <input type="number" placeholder="Diastolic">
      </label>
  </div>
</div>



      <div class="item item-input item-select">
        <div class="input-label">
          Pupils(PERRL)
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.pulils" ng-options="pupil for pupil in pupils"></select>
      </div>
    </div>



    <div class="item">
    <label class="item-input">
        <input type="number" placeholder="Temperature">
    </label>
    </div>

  </div>

  </ion-content>
  <!-- begin counter -->
  <div class="vital">
  <div class="row">

    <div class="vital-left col">
        <h1 class=""ng-bind="counter"></h1>
    </div>

    <div class="col">

      <button ng-click="startCounter()" class="button button-calm icon ion-play button-small"></button>


      <button ng-click="stop()" class="button button-calm icon ion-stop button-small"></button>

    </div>
    </div>

    <a class="button button-block button-light margin" ng-click="objectivePage()">Save Vital Set</a>

  </div>
</ion-view>
