<ion-view class="backgroundImage" title="About">
<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/responder/soaps">My SOAPs</a>
</ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>



<ion-content  has-header="true" padding="false" has-bouncing="false">
<div class="AboutWMI">
  <div class="CenteredLogo WMIlogo">
	  <img src="images/WMI_Logo_WHT.svg">
  </div>


  <div class="card">
  <div class="item item-divider">
  About WMI
  </div>
  <div class="item item-text-wrap">
  <icon class="WMI-App_Icons_Assessnent_Plan"></icon>
		<p>The NOLS Wilderness Medicine Institute is the leader in wilderness medicine education. Our goal is to provide the highest quality education and information for the recognition, treatment, and prevention of wilderness emergencies.</p>



  <a href="tel:+18668319001" class="button button-block button-light">1-866-831-9001
  </a>
  <a href="http://www.nols.edu/wmi#phonegap=external" target="_blank" class="button button-block button-light lowercase">www.nols.edu/wmi
  </a>
  </div>
  </div>

    <div class="card">
  <div class="item item-divider">
  About this App
  </div>
  <div class="item item-text-wrap">
  <p>The WMI SOAP Note App can be used to document patient care in training and emergency situations. It should not be used as a substitute for formal training in wilderness medicine. Users should protect patient confidentiality.</p>


  <a class="button button-block button-calm" href="#/responder/settings">
  My Settings
  </a>
  <a class="button button-block button-calm" href="#/terms">
  Terms of Service
  </a>
  <p>Version 1.4 DEV</p>
  <p>Designed & Developed by <a href="http://eyebytesolutions.com#phonegap=external" target="_blank">Eye Byte Solutions</a></p>
  </div>
  </div>

  <div class="CenteredLogo NOLSlogo">
	  <img src="images/NOLS_Logo_WHT.svg">
  </div>
</div>
</ion-content>
</ion-view>
