<ion-view title="Terms">

<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="javascript: history.go(-1)">Back</a>
</ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>

<ion-content padding="false" has-bouncing="false">
  <div class="card">
  <div class="item item-divider">
  Terms of Service
  </div>
 	 <div class="item item-text-wrap">
		<p>This App is not a substitute for professional medical care or advice. Those associated with the development and publication of the NOLS Wilderness Medicine Institute SOAP Note App do not accept, and specifically deny, any responsibility for any injury, illness, or other loss arising in any way from this application.</p>
	</div>
  </div>
</ion-content>
</ion-view>
