
<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
    <button class="button icon-left ion-chevron-left" ng-click="doSomething()">My SOAPs</button>
  </div>
  <h1 class="title">About</h1>
</ion-header-bar>

<ion-content>
  <div class="CenteredLogo WMIlogo">logo here</div>


  <div class="card">
  <div class="item item-divider">
  About NOLS & WMI
  </div>
  <div class="item item-text-wrap">
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>



  <button href="tel:+18668319001" class="button button-block button-calm icon ion-ios7-telephone">
	  1-866-831-9001
  </button>
  <button href="http://www.nols.edu/wmi" class="button button-block button-calm icon ion-earth">
	  NOLS.edu/WMI
  </button>
  </div>
  </div>

    <div class="card">
  <div class="item item-divider">
  About SOAP
  </div>
  <div class="item item-text-wrap">
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
  </div>
  </div>

    <div class="card">
  <div class="item item-divider">
  About this APP
  </div>
  <div class="item item-text-wrap">
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

  <button class="button button-block button-calm icon ion-gear-a">
  My Settings
  </button>
  <button class="button button-block button-calm icon ion-clipboard">
  Terms of Service
  </button>
  <p>Version 1.0</p>
  <p>Designed & Developed by <a href="http://eyebytesolutions.com">Eye Byte Solutions</a></p>
  </div>
  </div>

  <div class="CenteredLogo">logo here</div>
</ion-content>
