<ion-view hide-nav-bar="true">
<ion-content padding="false" has-header="false" has-bouncing="false">

<div class="FirstResponder">

  <div class="CenteredLogo WMIlogo">
	  <img src="images/WMI_Logo_WHT.svg">
  </div>
  
<h1>SOAP Notes</h1>
  <div class="list list-inset">
    <form>
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <!-- select will need some good style refactoring -->
      <div class="item item-input item-select">
        <div class="input-label">
          Current Certification
        </div>
        <select ng-model="responder.trainingLevel" ng-options="trainingLevel for trainingLevel in trainingLevels"></select>
      </div>
      <p>By using this application, you agree to the <br /><a ng-click="termsPage()">Terms of Service.</a></p>
      <button type="submit" class="button button-block button-light icon-right ion-ios7-arrow-right" ng-click="responderSoapsPage()">Accept and Continue</button>
    </form>
  </div>
</div>
</ion-content>
</ion-view>
