<ion-view title="MY SOAPs">
  <ion-nav-buttons side="left">
    <button class="button button icon ion-gear-a" ng-click="aboutPage()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon ion-ios7-compose-outline" ng-click="data.showDelete = !data.showDelete"></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header"  padding="true">
  <button class="button button-block button-light icon ion-plus-circled" ng-click="subjectivePage()"> New SOAP Note</button>
    <ion-list show-delete="data.showDelete">
      <ion-item class="item-icon-right" ng-repeat="soap in soaps" type="item-text-wrap" href="#/soap/{{soap.id}}">
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
        </ion-delete-button>{{soap.patientAge}}, {{soap.patientSex}} | {{soap.created}} | {{soap.patientInitials}}

        <i class="icon ion-ios7-arrow-forward"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
