<ion-view title="{{soap.patientSex}}, {{soap.patientAge}} | {{soap.patientInitials}}">
<ion-nav-buttons side="left">
    <button class="button icon ion-ios7-arrow-back" ng-click="mySoapsPage()">My SOAPs</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  <button class="button icon ion-ios7-compose-outline" ng-click="data.showDelete = !data.showDelete"></button>
    <button class="button icon ion-ios7-email-outline" ng-click="data.showDelete = !data.showDelete"></button>
  </ion-nav-buttons>




<div class="SOAP">

  <ion-content class="has-header" padding="true">
    <div class="SOAP">
      <h2>Review SOAP Note</h2>
      <h4>Location</h4>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Date: </strong> {{soap.incidentDate}}</ion-item>
          <ion-item class="item-text-wrap">{{soap.incidentLocation}}</ion-item>
          <ion-item class="item-text-wrap"><strong>GPS: </strong> {{soap.incidentLat}}, {{soap.incidentLon}}</ion-item>
        </ion-list>
      </div>

       <h5>Responder</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.responderFirstName}} {{soap.responderLastName}}, {{soap.responderLevelOfTraining}}</ion-item>
        </ion-list>
      </div>


     <h4>Subjective</h4>


      
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Age:</strong> {{soap.patientAge}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Sex: </strong> {{soap.patientSex}}</ion-item>
          <ion-item class="item-text-wrap"><strong>DOB: </strong> {{soap.patientDob}}</ion-item>

        </ion-list>
      </div>

      <h5>Whose chief complaint is</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientComplaint}}</ion-item>

          <ion-item><strong>Onset:</strong> {{soap.patientOnset}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Provokes/Palliates:</strong> {{soap.patientPPalliates}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Quality:</strong> {{soap.patientQuality}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Radiates:</strong> {{soap.patientRadiates}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Severity:</strong> {{soap.patientSeverity}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Time:</strong> {{soap.patientTime}}</ion-item>

        </ion-list>
      </div>

      <h5>Mechanism of Injury/HPI</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientHPI}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Suspected Spinal MOI:</strong> {{soap.patientSpinal}}</ion-item>
        </ion-list>
      </div>

      <h4>Objective</h4>
      <h5>General</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Patient Found:</strong> {{soap.patientFound}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Patient Exam Reveals:</strong> {{soap.patientExamReveals}}</ion-item>
        </ion-list>
      </div>

      <h5>Vitals</h5>

      <table class="VitalsTable">
            <tr>
                <th>Time</th>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <th>LOR</th>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <th>HR</th>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <th>RR</th>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <th>Skin</th>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <th>BP</th>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <th>Pupils</th>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <th>Temp</th>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
        </table>


      <h5>Patient History</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap"><strong>Symptoms:</strong> {{soap.patientSymptoms}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Allergies:</strong> {{soap.patientAllergies}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Medications:</strong> {{soap.patientMedications}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Pertinent Medical History:</strong> {{soap.patientMedicalHistory}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Last Intake/Output:</strong> {{soap.patientLastIntake}}</ion-item>
          <ion-item class="item-text-wrap"><strong>Events Leading to Injury/Illness:</strong> {{soap.patientEventsForCause}}</ion-item>
        </ion-list>
      </div>

	  <h4>Assesment</h4>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientAssessment}}</ion-item>
        </ion-list>
      </div>

      <h4>Plan</h4>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientPlan}}</ion-item>
        </ion-list>
      </div>

      <h5>Anticipated Problems</h5>
      <div class="list">
        <ion-list>
          <ion-item class="item-text-wrap">{{soap.patientAnticipatedProblems}}</ion-item>
        </ion-list>
      </div>

<a class="button button-block button-light icon icon-right ion-ios7-email-outline" ng-click="newSoap(wmi)">Share This SOAP</a>

      </div>
  </ion-content>

</ion-view>
