<ion-view title="MY SOAPS">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <div class="buttons">
      <button class="button button icon ion-gear-a" ng-click="aboutPage()"></button>
    </div>
    <div class="buttons right-buttons">
      <button class="button button-clear" ng-click="data.showDelete = !data.showDelete">Edit</button>
    </div>
  </ion-nav-bar>
  <ion-content class="has-header">
  <a class="button button-block button-light" ng-click="subjectivePage()">NEW SOAP NOTE</a>
    <ion-list show-delete="data.showDelete">
      <ion-item class="item-icon-right" ng-repeat="soap in soaps" type="item-text-wrap" href="#/soap/{{soap.id}}">
        {{soap.patientAge}},{{soap.patientSex}}
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
        </ion-delete-button>
        {{soap.created}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
