<ion-view title="Objective">
  <ion-content has-header="true" padding="false">
  <div class="SOAP">
    <!-- subjective section 1 -->
    <h5>I have a <a>i</a></h5>
    <div class="list">
      <div class="item item-input item-select">
        <div class="input-label">
          Patient Sex
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select></select>
      </div>
      <label class="item item-input">
        <input type="date" placeholder="Patient DOB">
      </label>
      <label class="item item-input">

        <input type="number" placeholder="Patient Age">
      </label>
    </div>
    <!-- subjective section 2 -->
    <h5>Who's chief complaint is<a>i</a></h5>
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="Chief Complaint"></textarea>
      </label>
    </div>
    <!-- subjective section 3 -->
    <div class="list">
      <div class="item item-input item-select">
        <div class="input-label">
          Onset
        </div>
        <select></select>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Provokes/Palliates">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Quality">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Radiates">>
      </label>
      <div class="item item-input item-select">
        <div class="input-label">
          Severity
        </div>
        <select></select>
      </div>
      <label>
        <input type="time" placeholder="Time">
      </label>
    </div>
    </div>
  </ion-content>
</ion-view>
