<ion-view title="Add Photos">
<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/tab/ap"></a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon ion-ios7-upload-outline" ng-click="data.showDelete = !data.showDelete"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="false">
  <div class="SOAP">


<a class="button button-block button-light margin icon ion-image" > Add Photos</a>


<a class="button button-block button-light margin icon-right ion-ios7-arrow-right"> Review SOAP Note</a>
      <a class="button button-block button-light margin icon ion-ios7-upload-outline" ng-click="newSoap(wmi)"> Share This SOAP</a>

    </div>
  </ion-content>
</ion-view>
