<ion-view title="OBJECTIVE">
  <ion-content has-header="true" padding="false">
    <div class="SOAP">
      <!-- subjective section 1 -->
      <h5>Patient was found<a><icon class="ion-ios7-information"></icon></a></h5>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Location" ng-model="wmi.patientFound">
        </label>
      </div>
      <h5>Patient Exam Reveals<a><icon class="ion-ios7-information"></icon></a></h5>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Exam Revelas?" ng-model="wmi.patientExamReveals">
        </label>
      </div>
      <h5>Vitals<a><icon class="ion-ios7-information"></icon></a></h5>
      <a class="button button-block button-light margin icon ion-plus-circled" href="#/tab/vitals/new"> Add Vitals</a>
      <div class="list">
        <ion-list ng-repeat="vital in vitals">
         {{vital}}
       </ion-list>
      </div>
      <a class="button button-block button-light margin icon ion-ios7-eye" href="#/tab/vitals"> View All Vitals</a>
        <label class="item item-input">
          <input type="text" placeholder="History" ng-model="wmi.patientHistory">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Allergies" ng-model="wmi.patientAllergies">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Medications" ng-model="wmi.patientMedications">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Medical History" ng-model="wmi.patientMedicalHistory">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Intake/Output" ng-model="wmi.patientLastIntake">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Events Leading up incident/illness" ng-model="wmi.patientEventsForCause">
        </label>
      </div>
      <a class="button button-block button-light margin icon-right ion-ios7-arrow-right" href="#/tab/ap">Continue to Assesment & Plan</a>
    </div>
  </ion-content>
</ion-view>
