<ion-view title="Overview">

<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/responder/soaps">My SOAPs</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-controller="MenuCtrl" ng-click="toggleSideMenu()"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="false"has-bouncing="false">
  <div class="SOAP">
  
  <h5>Date & Location<a>i</a></h5>
      <div class="list">
      <h6>Date of Incident</h6>
      <div class="item item-input">
       Add date field here. auto populated, but adjustable. will drive soap date/display.
      </div>
      <h6>Location</h6>
      <label class="item item-input">
        <textarea type="text" placeholder="Location"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Lat/Long here. autopopulated on phone">
      </label>
      </div>


    <h5>Responder Information<a>i</a></h5>
      <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <!-- select will need some good style refactoring -->
      <div class="item item-input item-select">
        <div class="input-label">
          Current Certification
        </div>
        <select ng-model="responder.trainingLevel" ng-options="trainingLevel for trainingLevel in trainingLevels"></select>
      </div>
      </div>

<a class="button button-block button-light icon-right ion-ios7-arrow-right margin" href="#/tab/subjective">Continue to Subjective</a>
    </div>
  </ion-content>
</ion-view>
