<ion-view title="Objective">
<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/responder/soaps">SOAPs</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon ion-ios7-upload-outline" ng-click="data.showDelete = !data.showDelete"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="false">
    <div class="SOAP">
      <!-- subjective section 1 -->
      <h5>Patient was found<a><icon class="ion-ios7-information"></icon></a></h5>
      <div class="list">
        <label class="item item-input">
          <textarea type="text" placeholder="Location" ng-model="wmi.patientFound"></textarea>
        </label>
      </div>
      <h5>Patient Exam Reveals<a><icon class="ion-ios7-information"></icon></a></h5>
      <div class="list">
        <label class="item item-input">
          <textarea type="text" placeholder="What did you find?" ng-model="wmi.patientExamReveals"></textarea>
        </label>
      </div>
      <h5>Vitals<a><icon class="ion-ios7-information"></icon></a></h5>
      <a class="button button-block button-light margin icon ion-plus-circled" href="#/tab/vitals/new"> Add Vitals</a>
      <div class="list">
        <ion-list ng-repeat="vital in vitals">
         {{vital}}
       </ion-list>
      </div>
      <a class="button button-block button-light margin icon ion-ios7-eye" href="#/tab/vitals"> View All Vitals</a>
        <label class="item item-input">
          <textarea type="text" placeholder="History" ng-model="wmi.patientHistory"></textarea>
        </label>
        <label class="item item-input">
          <textarea type="text" placeholder="Allergies" ng-model="wmi.patientAllergies"></textarea>
        </label>
        <label class="item item-input">
          <textarea type="text" placeholder="Medications" ng-model="wmi.patientMedications"></textarea>
        </label>
        <label class="item item-input">
          <textarea type="text" placeholder="Medical History" ng-model="wmi.patientMedicalHistory"></textarea>
        </label>
        <label class="item item-input">
          <textarea type="text" placeholder="Last Intake/Output" ng-model="wmi.patientLastIntake"></textarea>
        </label>
        <label class="item item-input">
          <textarea type="text" placeholder="Events Leading up incident/illness" ng-model="wmi.patientEventsForCause"></textarea>
        </label>
      </div>
      <a class="button button-block button-light margin icon-right ion-ios7-arrow-right" ng-click="apPage()">Continue to Assessment & Plan</a>
    </div>
  </ion-content>
</ion-view>
