<ion-view title="Assessment & Plan">
<ion-nav-buttons side="left">
    <button class="button icon ion-ios7-arrow-back" ng-click="objectivePage()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon ion-ios7-upload-outline" ng-click="data.showDelete = !data.showDelete"></button>
  </ion-nav-buttons>


  <ion-content has-header="true" padding="false">
    <div class="SOAP">
      <h5>Assessment<a><icon class="ion-ios7-information"></icon></a></h5>
      <div class="list">
        <label class="item item-input">
          <textarea type="text" placeholder="Assessment" ng-model="soap.patientAssessment"></textarea>
        </label>
      </div>

        <h5>Plan<a><icon class="ion-ios7-information"></icon></a></h5>
        <div class="list">
        <label class="item item-input">
          <textarea type="text" placeholder="Plan" ng-model="soap.patientPlan"></textarea>
        </label>
        </div>

        <h5>Anticipated Problems<a><icon class="ion-ios7-information"></icon></a></h5>
        <div class="list">
        <label class="item item-input">
          <textarea type="text" placeholder="Anticipated Problems" ng-model="soap.patientAnticipatedProblems"></textarea>
        </label>
      </div>
      <a class="button button-block button-light margin icon ion-image" ng-click="imagePage()"> Add Photos</a>
      <a class="button button-block button-light margin icon-right ion-ios7-arrow-right" ng-click="newSoap(wmi)"> Review SOAP Note</a>
    </div>
