<ion-view title="Subjective">

<ion-nav-buttons side="left">
    <button class="button icon ion-ios7-arrow-back" ng-click="data.showDelete = !data.showDelete"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon ion-ios7-upload-outline" ng-click="data.showDelete = !data.showDelete"></button>
  </ion-nav-buttons>
  
  <ion-content has-header="true" padding="false">
  
    <!-- subjective section 1 -->
    <div class="SOAP">
      <h5>I have a<a><icon class="ion-ios7-information"></icon></a></h5>
      <div class="list">
      <div class="item item-input item-select">
        <div class="input-label">
          Patient Sex
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="soap.patientGender" ng-options="gender for gender in genders"></select>
      </div>
      <label class="item item-input">
        <input type="date" placeholder="Patient DOB" ng-model="soap.patientDob">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Patient Age" ng-model="soap.patientAge">
      </label>
    </div>
    <!-- subjective section 2 -->
    <h5>Who's chief complaint is<a><icon class="ion-ios7-information"></icon></a></h5>
    <div class="list">
      <label class="item item-input">
        <textarea type="text" placeholder="Chief Complaint" ng-model="soap.chiefComplaint"></textarea>
      </label>
    </div>
    <!-- subjective section 3 -->
    <div class="list">
      <div class="item item-input item-select">
        <div class="input-label">
          Onset
        </div>
        <select ng-model="wmi.patientOnset" ng-options="onset for onset in onsets"></select>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Provokes/Palliates" ng-model="soap.patientPPalliates">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Quality" ng-model="soap.patientQuality">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Radiates" ng-model="soap.patientRadiates">
      </label>
      <div class="item item-input item-select">
        <div class="input-label">
          Severity
        </div>
        <select ng-model="wmi.patientSeverity" ng-options="severity for severity in severities"></select>
      </div>
      <label class="item item-input">
        <input type="time" placeholder="Time" ng-model="wmi.patientTime">
      </label>
    </div>
    <h5>Mechanism of Injury/HPI<a><icon class="ion-ios7-information"></icon></a></h5>
    <div class="list">
   
     <label class="item item-input">
        <textarea type="text" placeholder="MOI/HPI" ng-model="wmi.patientHPI"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Suspected Spinal Injury" ng-model="wmi.patientSpinal">
      </label>
    </div>
      <a class="button button-block button-light margin icon-right ion-ios7-arrow-right" href="#/tab/objective">Continue to Objective</a>
    </div>
  </ion-content>
</ion-view>
