<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="SUBJECTIVE">
  <ion-content has-header="true" padding="true">
    <!-- subjective section 1 -->
    <div class="list list-inset">
      <h5>I have a</h5><a>i</a>
      <div class="item item-input item-select">
        <div class="input-label">
          Patient Sex
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select></select>
      </div>
      <label class="item item-input">
        <input type="date" placeholder="Patient DOB">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Patient Age">
      </label>
    </div>
    <!-- subjective section 2 -->
    <div class="list list-inset">
      <h5>Who's chief complaint is</h1><a>i></a>
      <label class="item item-input">
        <input type="text" placeholder="Chief Complaint">
      </label>
    </div>
    <!-- subjective section 3 -->
    <div class="list list-inset">
      <div class="item item-input item-select">
        <div class="input-label">
          Onset
        </div>
        <select></select>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Provokes/Palliates">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Quality">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Radiates">>
      </label>
      <div class="item item-input item-select">
        <div class="input-label">
          Severity
        </div>
        <select></select>
      </div>
      <label>
        <input type="time" placeholder="Time">
      </label>
    </div>
  </ion-content>
</ion-view>
