<ion-view title="Add Photos">
<ion-nav-buttons side="left">
    <a class="button icon ion-ios7-arrow-back" href="#/responder/soaps">SOAPs</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon ion-ios7-email-outline" ng-click="data.showDelete = !data.showDelete"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
  <div class="SOAP">


<a class="button button-block button-light icon icon-right ion-image" >Add Photos</a>


<a class="button button-block button-light icon-right ion-ios7-arrow-right">Review SOAP Note</a>
      <a class="button button-block button-light icon icon-right ion-ios7-email-outline" ng-click="newSoap(wmi)">Share This SOAP</a>

    </div>
  </ion-content>
</ion-view>
