<ion-view title="Add Vitals">
  <ion-nav-buttons side="left">
    <a class="button button" href="#/tab/objective">Cancel</a>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="false" has-bouncing="false">
  <div class="SOAP VITALS">
    <div class="list">
    
        <!-- Time Taken -->
        <h6>Time Taken</h6>
      <div class="item item-input">
       add time field here. adjustable.
      </div>

    <!-- LOR -->
    <h6>Level of Responsiveness</h6>
      <div class="item item-input item-select">
        <div class="input-label">
          
        </div>
        <select ng-model="vital.lor" ng-options="LOR for LOR in LORs"></select>
      </div>

      <!-- Heart -->

     <h6>Heart</h6>

	  <label class="item item-input">
        <input type="number" placeholder="Rate (BPM)">
      </label>
      <div class="item item-input item-select">
        <div class="input-label">
          Rhythm
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.patientGender" ng-options="HEARTrythm for HEARTrythm in HEARTrythms"></select>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Quality
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.quality" ng-options="HEARTquality for HEARTquality in HEARTqualities"></select>
      </div>
      </label>


      <!-- Respiratory -->
<h6>Respiratory</h6>
  
	  <label class="item item-input">
        <input type="number" placeholder="Rate (BPM)">
      </label>
      <div class="item item-input item-select">
        <div class="input-label">
          Rhythm
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.rrhythm" ng-options="RESPrythm for RESPrythm in RESPrythms"></select>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Quality
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.rquality" ng-options="RESPquality for RESPquality in RESPqualities"></select>
      </div>




      <!-- Skin -->
      <h6>Skin</h6>
	   <div class="item item-input item-select">
        <div class="input-label">
          Color
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.sctmcolor" ng-options="SKINcolor for SKINcolor in SKINcolors"></select>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Temp
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.sctmtemp" ng-options="SKINtemp for SKINtemp in SKINtemps"></select>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Moisture
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.sctmmoisture" ng-options="SKINmoist for SKINmoist in SKINmoists"></select>
      </div>






 <!-- Blood Pressure -->
 <h6>Blood Pressure</h6>
 
    <div class="item item-input item-select">
        <div class="input-label">
          Radial Pulse
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.brradialpulse" ng-options="BPpulse for BPpulse in BPpulses"></select>
      </div>
	  <label class="item item-input">
        <input type="number" placeholder="Systolic">
      </label>
	  <label class="item item-input">
        <input type="number" placeholder="Diastolic">
        
      </label>
  </div>



 <h6>Pupils</h6>
      <div class="item item-input item-select">
        <div class="input-label">
          Pupils
          <!-- leave select empty - data will be brough in through ctrl -->
        </div>
        <select ng-model="vital.pulils" ng-options="pupil for pupil in pupils"></select>
      </div>
      
      
    <h6>Temperature</h6>
    <div class="row">
  <div class="col">
	  <label class="item item-input">
	  <input type="number" placeholder="Degrees">
    </label>
  </div>
  <div class="col col-33">
	   <div class="item item-input item-select">
        <select ng-model="vital.tempDegrees" ng-options="tempDegree for tempDegree in tempDegrees"></select>
      </div>

  </div>
    </div>
        
    
 



    
<a class="button button-block button-light margin" ng-click="objectivePage()">Save Vital Set</a>
  </div>

  </ion-content>
  <!-- begin counter -->
  <div class="vital">
  <div class="row">

    <div class="vital-left col">
        <h1 class=""ng-bind="counter"></h1>
    </div>

    <div class="col">

      <button ng-click="startCounter()" class="button button-calm icon ion-play button-small"></button>
      <button ng-click="stop()" class="button button-calm icon ion-stop button-small"></button>

    </div>
    </div>

    

  </div>
</ion-view>
