<ion-view title="Vitals">
  <ion-nav-buttons side="left">
    <button class="button button icon ion-gear-a" ng-click="aboutPage()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="data.showDelete = !data.showDelete">Edit</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <a class="button button-block button-light" href="#/tab/vitals/new">Add Vitals</a>
    <ion-list show-delete="data.showDelete">
      <ion-item class="item-icon-right" ng-repeat="vital in vitals" type="item-text-wrap" href="#/vitals/{{vital.id}}">
        <div class="row">
          <div class="col">{{vital.time}}</div>
          <div class="col col-25 col-offset-25">
          </div>
        </div>
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
        </ion-delete-button>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
